@use "@/presentation/assets/styles/main" as *;

@mixin code-block() {
  pre {
    @content; // :has(> code) { @content; } would be better, but Firefox doesn't support it https://caniuse.com/css-has
  }
}

@mixin inline-code() {
  :not(pre)>code {
    @content;
  }
}

@mixin base-code() {
  code {
    @content;
  }
}

@mixin style-code-elements(
  $color-background,
  $code-block-padding,
) {
  $border-radius: 2px; // Subtle rounding still maintaining sharp design.

  @include base-code {
    font-family: $font-normal;
    border-radius: $border-radius;
    font-size: $font-size-relative-smaller; // Keep relative size to scale right with different text sizes around.
  }

  @include inline-code {
    background: $color-background;
    word-break: break-all; // Enables inline code to wrap with the text, even for long single words (like registry paths), thus preventing overflow.
    padding: 0.2em 0.4em; // Balanced padding for readability, with `em` units scaling with font size.
  }

  @include code-block {
    background: $color-background;
    border-radius: $border-radius;
    overflow: auto; // Prevents horizontal expansion of inner content (e.g., when a code block is shown)
    padding: $code-block-padding;
  }
}
