/*
  Colors used throughout the application.

  This file maps CSS custom properties from `color-variables.css` to SCSS variables.
  It serves as a bridge between your CSS design tokens and SCSS ecosystem.
*/
@use 'sass:color';

$color-primary: var(--color-primary);
$color-primary-light: var(--color-primary-light);
$color-primary-dark: var(--color-primary-dark);
$color-primary-darker: var(--color-primary-darker);
$color-primary-darkest: var(--color-primary-darkest);
$color-on-primary : var(--color-on-primary);
$color-secondary : var(--color-secondary);
$color-secondary-light : var(--color-secondary-light);
$color-on-secondary : var(--color-on-secondary);
$color-surface : var(--color-surface);
$color-on-surface : var(--color-on-surface);
$color-background : var(--color-background);
$color-success : var(--color-success);
$color-danger : var(--color-danger);
$color-caution : var(--color-caution);

/*
  Application-specific colors:
    These are tailored to the specific needs of the application and derived from the above theme colors.
    Use these colors to ensure consistent styling across components. When adding new colors, reference existing theme colors.
    This approach maintains a cohesive look and feel and simplifies theme adjustments.
*/
$color-scripts-bg: $color-primary-darker;
$color-highlight: $color-primary;
