/* 
    Defines global styles that applies to globally defined tags by default (body, main, article, div etc.)
*/

@use "@/presentation/assets/styles/colors" as *;
@use "@/presentation/assets/styles/fonts" as *;
@use "@/presentation/assets/styles/mixins" as *;

* {
    box-sizing: border-box;
}

$globals-color-hover: $color-primary;
a {
    color:inherit;
    text-decoration: underline;
    cursor: pointer;
    @include hover-or-touch {
        color: $globals-color-hover;
    }
}

body {
    background: $color-background;
    font-family: $font-main;
}
