/* 
    Defines global styles that applies to globally defined tags by default (body, main, article, div etc.)
*/

@use "@/presentation/assets/styles/colors" as *;
@use "@/presentation/assets/styles/fonts" as *;
@use "@/presentation/assets/styles/mixins" as *;
@use "@/presentation/assets/styles/vite-path" as *;

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    cursor: pointer;
    @include flat-button($disabled: false);
}

body {
    background: $color-background;
    font-family: $font-main;
    font-size: $font-size-normal;
}
