@mixin hover-or-touch($selector-suffix: '', $selector-prefix: '&') {
  @media (hover: hover) {
    /*
      Only apply hover styles if the device truly supports hover; otherwise the
      emulator in mobile keeps hovered style in-place even after touching, making it sticky.
    */
    #{$selector-prefix}:hover #{$selector-suffix} {
      @content;
    }
  }

  @media (hover: none) {
    /*
      Apply active styles on touch or click, ensuring interactive feedback on devices without hover capability.
    */
    #{$selector-prefix}:active #{$selector-suffix} {
      @content;
    }
  }
}

/*
  This mixin removes the default blue tap highlight seen in mobile WebKit browsers (e.g., Chrome, Safari, Edge).
  The mixin by itself may reduce accessibility by hiding this interactive cue. Therefore, it is recommended
  to use this mixin in conjunction with the `hover-or-touch` mixin to provide necessary visual feedback
  for interactive elements during hover or touch interactions.
*/
@mixin clickable($cursor: 'pointer') {
  cursor: #{$cursor};
  user-select: none;
  -webkit-tap-highlight-color: transparent; // Removes blue tap highlight
}

@mixin fade-transition($name) {
  .#{$name}-enter-active,
  .#{$name}-leave-active {
    transition: opacity 0.3s ease;
  }

  .#{$name}-enter-from,
  .#{$name}-leave-to {
    opacity: 0;
  }
}

@mixin fade-slide-transition($name, $duration, $offset-upward: null) {

  .#{$name}-enter-active,
  .#{$name}-leave-active {
    transition: all $duration;
  }

  .#{$name}-leave-active,
  .#{$name}-enter-from {
    opacity: 0;

    @if $offset-upward {
      transform: translateY($offset-upward);
    }
  }
}

@mixin reset-ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
