/*
  Defines global styles that applies to globally defined tags by default (body, main, article, div etc.).
  Styles Fundamental HTML elements.
  Contains foundational CSS rules that have a broad impact on the project's styling.
  CSS Base applies a style foundation for HTML elements that is consistent for baseline browsers
*/

@use "../colors" as *;
@use "../mixins" as *;
@use "../vite-path" as *;
@use "../typography" as *;
@use "../spacing" as *;
@use "_code-styling" as *;
@use "_margin-padding" as *;
@use "_link-styling" as *;

* {
  box-sizing: border-box;
}

body {
  background: $color-background;
  @include base-font-style;
  @include apply-uniform-spacing;
}

input {
  font-family: unset; // Reset browser default
}

blockquote {
  padding: 0 $spacing-relative-medium;
  border-left: $spacing-absolute-x-small solid $color-primary;
}

@include style-code-elements(
  $code-block-padding: $spacing-relative-medium,
  $color-background: $color-primary-darker,
);

hr {
  opacity: 0.6;
}

sup {
  @include reset-sup;

  vertical-align: super;
  font-size: $font-size-relative-smallest;
}
